In [3]:
import pandas as pd
from pandas import DataFrame

In [5]:
# csv파일읽어오기
# ,구별된 파일
csvFile = pd.read_csv('testFile/test_csv_file.csv', engine='python')
display(csvFile)

   ID LAST_NAME  AGE  이름
0   1       KIM   30  길동
1   2      CHOI   25  치원
2   3       LEE   41  순신
3   4      PARK   19  문수
4   5       LIM   36  꺽정

In [7]:
#데이터의 행의 수와 열의 수
cnt = csvFile.shape   # tuple로 구해짐
print(cnt)

(5, 4)

In [13]:
csvFile2 = pd.read_csv('testFile/test_csv_file.csv',names=['아이디','성','나이','이름'] ,engine='python')
csvFile2 = csvFile2.drop(0, axis=0)
display(csvFile2)

  아이디     성  나이  이름
1   1   KIM  30  길동
2   2  CHOI  25  치원
3   3   LEE  41  순신
4   4  PARK  19  문수
5   5   LIM  36  꺽정