### 집합자료형
집합에 관련된 자료형으로 처리하기 위해 만든 자료형이다. set()으로 생성할수 있다. <br/>

- 중복을 허용하지 않는다.<br/>
- 저장 순서가 없다.<br/>
- 크기순으로 정렬한다. (ascending)

In [4]:
# 리스트데이터를 이용하여 set를 생성한다.
data = [7,4,9,1,3,6,6]
print(data)

s1 = set(data)
print(s1)

[7, 4, 9, 1, 3, 6, 6]
{1, 3, 4, 6, 7, 9}

In [6]:
# 문자열을 이용하여 set을 생성하기
s2 = set('hello world...')
print(s2)

s3 = set('4568284')
print(s3)

{'r', 'o', 'e', ' ', 'w', 'l', 'd', 'h', '.'}
{'4', '2', '8', '6', '5'}

In [9]:
# set를 리스트로 형변환
lst = list(s3)
print(lst)

['4', '2', '8', '6', '5']

In [10]:
tup = tuple(s3)
print(tup)

('4', '2', '8', '6', '5')

### 교집합, 합집합, 차집합구하기

In [15]:
set4 = set([1,2,3,4,5,6,7,8])
set5 = set([5,6,7,8,9,10])
print(set4)
print(set5)

{1, 2, 3, 4, 5, 6, 7, 8}
{5, 6, 7, 8, 9, 10}

In [ ]:
# 교집합 ( & : 교집합을 구하는 연산자, = ( intersection() ))

In [13]:
set6 = set4 & set5
print(set6)

{8, 5, 6, 7}

In [14]:
set7 = set4.intersection(set5)
print(set7)

{8, 5, 6, 7}

In [16]:
#합집합 ( | : 합집합을 구하는 연산자, union()과 동일)
set8 = set4 | set5
print(set8)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [17]:
set9 = set4.union(set5)
print(set9)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [18]:
# 차집합 ( - : 차집합 구하는 연산자, difference와 동일)  -> set4에서 set5에 있는 데이터를 제외한다.
set10 = set4 - set5
print(set10)

{1, 2, 3, 4}

In [19]:
set11 = set4.difference(set5)
print(set11)

{1, 2, 3, 4}

In [ ]:
### 집합자료형 관련함수

In [20]:
ss = set([10,11,12])
# set자료형에 1개의 데이터 추가하기
ss.add(100);
print(ss)

{100, 10, 11, 12}

In [21]:
# set자료형에 여러개의 데이터 추가하기
ss.update([21,22,23])
print(ss)

{100, 10, 11, 12, 21, 22, 23}

In [22]:
# 특정 데이터 지우기
ss.remove(100)
print(ss)

{10, 11, 12, 21, 22, 23}