In [1]:
# for문
data = [12,13,45,74,28,95,68]

for d in data:
    print(d)

12
13
45
74
28
95
68

In [2]:
data2 = [(1,5), (9,6), (6,7), (6,9)]

for (first, second) in data2:
    print(first+second)

6
15
13
15

In [7]:
range(1,5)  #-> 1부터 5앞까지
range(5) #-> 0부터 5앞까지
range(1, 10, 2)
for a in range(2, 11, 2):
    print(a)

2
4
6
8
10

In [3]:
data3 = [('a', 100), ('b',120), ('c', 300)]

for d in range(len(data3)):
    dd = data3[d]
    print(f'{dd[0]}-->{dd[1]}')

a-->100
b-->120
c-->300

In [4]:
data4 = [81,67,51,24,60,82,91]
# 60점이상이 합격 
for jumsu in data4:
    if jumsu<60:
        continue
    print(f'{jumsu}점은 합격입니다.')

81점은 합격입니다.
67점은 합격입니다.
60점은 합격입니다.
82점은 합격입니다.
91점은 합격입니다.

In [8]:
#중첩 for
#구구단
# 2~9단까지
for dan in range(2, 10):
    for i in range(2, 10):
        print(f'{dan}*{i}={dan*i}')

2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [9]:
data5 = [2,9,6,7,4,3,5]
#새로운 리스트를 (data6)생성하여 data5에 있는 값을 3배에 해당하는 데이터 채워라
data6 = [] # data6 = list()
for ddd in data5:
    data6.append(ddd*3)

data6

[6, 27, 18, 21, 12, 9, 15]

In [13]:
range(len(data5))
data5[n]*3

6

In [19]:
data7 = list()

for n in range(len(data5)):    
    data7.append(data5[n]*3)
data7

[6, 27, 18, 21, 12, 9, 15]

In [20]:
# 리스트 내포 사용하기
data5 = [2,9,6,7,4,3,5]
result = [n*3 for n in data5]
result

[6, 27, 18, 21, 12, 9, 15]

In [22]:
# data5의 값중에 짝수번째 있는 데이터만 3배를 하여 새로운 리스트 생성(result2)
result2 = []
for n in range(len(data5)):
    if n%2==0:
        result2.append(data5[n]*3)

print(result2)

result3 = [ data5[n]*3 for n in range(len(data5)) if n%2==0 ]
print(result3)

[6, 18, 12, 15]
[6, 18, 12, 15]

In [33]:
# 중첩 내포된 for문
result4 = [ (d, i, d*i)   for d in range(2, 10) for i in range(2, 10)]
result4

for (a, b, c) in result4:
    print(f'{a}*{b}={c}')

2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [34]:
result5 = [(a, b, c) for a in range(1,6) for b in range(1,6) for c in range(1,6)]
result5

[(1, 1, 1),
 (1, 1, 2),
 (1, 1, 3),
 (1, 1, 4),
 (1, 1, 5),
 (1, 2, 1),
 (1, 2, 2),
 (1, 2, 3),
 (1, 2, 4),
 (1, 2, 5),
 (1, 3, 1),
 (1, 3, 2),
 (1, 3, 3),
 (1, 3, 4),
 (1, 3, 5),
 (1, 4, 1),
 (1, 4, 2),
 (1, 4, 3),
 (1, 4, 4),
 (1, 4, 5),
 (1, 5, 1),
 (1, 5, 2),
 (1, 5, 3),
 (1, 5, 4),
 (1, 5, 5),
 (2, 1, 1),
 (2, 1, 2),
 (2, 1, 3),
 (2, 1, 4),
 (2, 1, 5),
 (2, 2, 1),
 (2, 2, 2),
 (2, 2, 3),
 (2, 2, 4),
 (2, 2, 5),
 (2, 3, 1),
 (2, 3, 2),
 (2, 3, 3),
 (2, 3, 4),
 (2, 3, 5),
 (2, 4, 1),
 (2, 4, 2),
 (2, 4, 3),
 (2, 4, 4),
 (2, 4, 5),
 (2, 5, 1),
 (2, 5, 2),
 (2, 5, 3),
 (2, 5, 4),
 (2, 5, 5),
 (3, 1, 1),
 (3, 1, 2),
 (3, 1, 3),
 (3, 1, 4),
 (3, 1, 5),
 (3, 2, 1),
 (3, 2, 2),
 (3, 2, 3),
 (3, 2, 4),
 (3, 2, 5),
 (3, 3, 1),
 (3, 3, 2),
 (3, 3, 3),
 (3, 3, 4),
 (3, 3, 5),
 (3, 4, 1),
 (3, 4, 2),
 (3, 4, 3),
 (3, 4, 4),
 (3, 4, 5),
 (3, 5, 1),
 (3, 5, 2),
 (3, 5, 3),
 (3, 5, 4),
 (3, 5, 5),
 (4, 1, 1),
 (4, 1, 2),
 (4, 1, 3),
 (4, 1, 4),
 (4, 1, 5),
 (4, 2, 1),
 (4, 2, 2),
 (4, 2, 3),
 (4, 2, 4),
 (4, 2, 5),
 (4, 3, 1),
 (4, 3, 2),
 (4, 3, 3),
 (4, 3, 4),
 (4, 3, 5),
 (4, 4, 1),
 (4, 4, 2),
 (4, 4, 3),
 (4, 4, 4),
 (4, 4, 5),
 (4, 5, 1),
 (4, 5, 2),
 (4, 5, 3),
 (4, 5, 4),
 (4, 5, 5),
 (5, 1, 1),
 (5, 1, 2),
 (5, 1, 3),
 (5, 1, 4),
 (5, 1, 5),
 (5, 2, 1),
 (5, 2, 2),
 (5, 2, 3),
 (5, 2, 4),
 (5, 2, 5),
 (5, 3, 1),
 (5, 3, 2),
 (5, 3, 3),
 (5, 3, 4),
 (5, 3, 5),
 (5, 4, 1),
 (5, 4, 2),
 (5, 4, 3),
 (5, 4, 4),
 (5, 4, 5),
 (5, 5, 1),
 (5, 5, 2),
 (5, 5, 3),
 (5, 5, 4),
 (5, 5, 5)]