### def -> 함수를 생성할 때 

def 함수명:<br/>
    실행문<br/>
    실행문<br/>
    실행문<br/>

In [1]:
#함수 생성 return이 있는 함수
def multiple(n1, n2):
    return n1*n2

In [2]:
#매개변수가 없는 함수
def question():
    return 'Ok'

In [3]:
#구구단 구하는 함수 return 없이
def gugudan(dan):
    r = [ (dan, i, dan*i) for i in range(2,10)]
    for (x,y,z) in r:
        print(f'{x}*{y}={z}')

In [4]:
#함수 호출
print(multiple(120, 200))

24000

In [5]:
print(question())

Ok

In [6]:
gugudan(7)

7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63

In [7]:
def add(a, b, c):
    sum = a+b+c
    print(f'{a}+{b}+{c}={sum}')

In [8]:
add(10, 20, 30)

10+20+30=60

In [9]:
add(c=100, b=500, a=300)

300+500+100=900

In [10]:
add(50, c=20, b=30)

50+30+20=100

In [11]:
# 매개변수의 갯수가 일정하지 않을 때
def add_many(*args):
    result = 0;
    for d1 in args:
        result = result + d1
    print(f'result={result}')

In [12]:
add_many(1,2,4,5,6)

result=18

In [13]:
add_many(4,5,6,7,7,8,8,8,8,8,8,8)

result=85

In [14]:
def calculator(menu, *args):
    if menu=='add':
        result =0
        for d in args:
            result= result+ d
        print(f'{menu}->{result}')
    elif menu=='minus':
        result=0
        for d in args:
            result = result - d
        print(f'{menu}->{result}')    
    else:
        print('메뉴를 잘못 선택했습니다.')

In [16]:
calculator('add',3,54,6,6,8)
calculator('minus', 4,4,4,4,32,2,5)

add->77
minus->-55

In [24]:
# **args 변수명 데이터의 갯수가 일정하지 않을때
def kwargs_test(**args):
    print(args)
    key = args.keys() # key목록이 list로 구해진다.
    for k in key:
        print(f'{k}-->{args[k]}')

In [25]:
kwargs_test(a=10)
kwargs_test(name='hong', tel='010-1234-6767')
kwargs_test(kor=100, eng=200, mat=300)

{'a': 10}
a-->10
{'name': 'hong', 'tel': '010-1234-6767'}
name-->hong
tel-->010-1234-6767
{'kor': 100, 'eng': 200, 'mat': 300}
kor-->100
eng-->200
mat-->300

In [26]:
# return 결과가 여러개 일때  - tuple로 리턴해준다. 
def all_calcu(n1, n2):
    return n1+n2, n1-n2, n1*n2, n1//n2

In [27]:
result1 = all_calcu(10,3)
result1

(13, 7, 30, 3)

In [28]:
r1, r2, r3, r4 = all_calcu(20, 4)

In [29]:
print(r1)
print(r2)
print(r3)
print(r4)

24
16
80
5

In [30]:
def info(name, age, man=True):
    print(f'이름은 {name}')
    print(f'나이는 {age}')
    print(f'성별은 남자이다. {man}')

In [31]:
info('홍길동', 50)

이름은 홍길동
나이는 50
성별은 남자이다. True

In [32]:
info('김연아',30,False)

이름은 김연아
나이는 30
성별은 남자이다. False

In [33]:

xx = 100

def vartest(xx):
    xx = xx + 100
    print(xx)

In [34]:
vartest(200)

300

In [35]:
xx

100

In [36]:
zz = 100

def vartest(yy):
    global zz
    yy = yy + 100
    zz = yy
    print(yy)

In [37]:
vartest(1000)

1100

In [38]:
zz

1100

In [40]:
# 함수를 lamda형을 만들기
#함수명      매개변수  :실행문
add5 = lambda a, b :a+b

rr = add5(15, 41)
rr

56

In [ ]:
def add5(a,b):
    return a+b